.titulo{
    background-color: #819ab8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}

.populares{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}

.generos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}