.titulo{
    background-color: #ffeb57;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.populares{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.generos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}