.paginalivro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}

.capa{
    width: 30%;
    display: block;
    float: right;

    padding-top: 90px;
    margin-right: 4%;
    
}
.enredo{
    width: 30%;
    display: block;
    float: left;
}

.dados{
    width: 30%;
    display: block;
    float: left;
    padding-top: 90px;
    margin-left: 4%;
}

.musica{
   margin-left: 4%;
}